body { 
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.contenedor {
    width: 50%;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
    background-color: #FF80AB;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
}

#formulario {
    padding-bottom: 15px;
}

#ingresoCancion, #ingresoArtista {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.boton {
    padding: 10px 20px;
    background-color: #7A1122;
    color: #fff;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #F2D888;
}

.playlist {
    padding: 2%;
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: #7A1122;
    list-style: none;
    border-radius: 10px;
}

.nombreLista {
    text-align: center;
    padding-bottom: 2%;
    font-weight: 700;
}


.cancion {
    padding: 15px;
    display: flex;
    align-items: center;    
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #F2D888;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.canciones img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
}

.audio {
    width: 100%;
    margin-top: 10px;
}

.iconos {
    cursor: pointer;
}

.iconos i {
    font-size: 20px;
    color: #FF80AB;
}

.iconos i:hover {
    color: #7A1122;
}

